---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Me">
    <body>
        <h1><span class="text-gradient">About Me</span></h1>
    	<h2>Welcome to the astro site </h2>

    	<p>
            I am learning to use the <strong>astro</strong> framework.
        </p>
    </body>
</Layout>
