---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const allPosts = await Astro.glob('./posts/*.md');

const title = 'My Astro Blog';
---

<Layout title={title}>
    <body>
    	<h2>Welcome to the astro blog </h2>
    	<p>
            I am learning to use the <strong>astro</strong> framework.
        </p>
        <ul>
            {allPosts.map((post) => (
                <Card
                    href={post.url||''}
                    title={post.frontmatter.title}
                    body={post.frontmatter.description}
                />
            ))}
        </ul>
    </body>
</Layout>
