---
import Navigation from './Navigation';
import ThemeIcon from './ThemeIcon.astro';
---

<header class = "min-w-max">
    <nav class="inline-flex">
        <Navigation client:load/>
        <ThemeIcon class="absolute inset-y-0 right-0"/>
    </nav>

</header>
